.icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}

.icons ul li {
  float: left;
  margin-right: 8px;
}
.icons ul li.last-child {
  margin-right: 0px;
}
.icons ul li a {
  background: url("img/sicons.png");
  background-position: 0px 0px;
  width: 84px;
  height: 84px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  transition: 1s;
}
.icons ul li:hover:nth-child(1) a{
  background-position: 0px -84px;
}
.icons ul li:nth-child(2) a {
  background-position: -840px 0px;
}
.icons ul li:hover:nth-child(2) a {
  background-position: -840px -84px;
}
.icons ul li:nth-child(3) a {
  background-position: -336px 0px;
}
.icons ul li:hover:nth-child(3) a {
  background-position: -336px -84px;
}
.icons ul li:nth-child(4) a {
  background-position: -672px 0px;
}
.icons ul li:hover:nth-child(4) a {
  background-position: -672px -84px;
}
.icons ul li:nth-child(5) a {
  background-position: -588px 0px;
}
.icons ul li:hover:nth-child(5) a {
  background-position: -588px -84px;
}
