:root {
  --stroke: #999;
  --stroke-width: 0.4;
}
.line {
  stroke:var(--stroke);
  stroke-width: var(--stroke-width)
}
svg {
  border: 2px solid #999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
.combine {
  transform: rotate(30deg);
  transform-origin: center;
  stroke: blue;
  stroke-dasharray: 2,1;
}
.rotate{
  transform: perspective(800px) translateZ(0px) rotateY(0deg);
  transition: 1s;
}
.rotate:hover {
  transform: perspective(800px) translateZ(500px) rotateY(50deg) ;
}